<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/main.css">
        <link rel="stylesheet" href="../public/css/sub.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="main-box" style="margin: 0px; padding: 0px;background-color:#F1F1F1; width:100%; height:100%">
            <div class="sidebar">
                <a href="/" style="text-decoration: none;">
                    <div class="sidebar-dashboard"><i class="far fa-user fa-2x"></i>
                        <div class="sidebar-dashboard-text">Dashboard</div>
                    </div>
                </a>
                <a href="/profile" style="text-decoration: none;">
                    <div class="sidebar-dashboard"><i class="far fa-user fa-2x"></i>
                        <div class="sidebar-dashboard-text">Profile</div>
                    </div>
                </a>
                <a href="/addWords" style="text-decoration: none;">
                    <div class="sidebar-word"><i class="fas fa-file-word fa-2x"></i>
                        <div class="sidebar-dashboard-text">Add Words</div>   
                    </div>
                </a>
                <a href="/flashcard" style="text-decoration: none;">
                    <div class="sidebar-flashcard"><i class="fas fa-user fa-2x"></i>
                        <div class="sidebar-dashboard-text">Flashcard</div>
                    </div>
                </a>
                <a href="/mcq" style="text-decoration: none;">
                    <div class="sidebar-mcq"><i class="fas fa-user fa-2x"></i>
                        <div class="sidebar-dashboard-text">MCQ</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="navbar" style="background-color: white; width:1538px;">
            <div class="right_navbar">
                <div id="right_name"></div>
                    <div id="right_profile">
                        <div class="dropdown">
                            <img id="img_profile" src="" alt="">
                                <div class="dropdown-content">
                                    <a href="/" style="text-decoration: none;">Dashboard</a>
                                    <a href="/profile" style="text-decoration: none;">Profile</a>
                                    <a href="/viewWords" style="text-decoration: none;">Words</a>
                                    <a href="/flashcard" style="text-decoration: none;">Flashcard Test</a>
                                    <a href="/mcq" style="text-decoration: none;">MCQ Test</a>
                                </div>
                        </div>    
                    </div>
                </div>
        </div>
        {{{body}}}
        <script type="text/javascript">
            window.addEventListener('load', (event) => {
                console.log('page is fully loaded');
                let name="Govind";
                document.getElementById("right_name").innerText=name;
                document.getElementById("img_profile").src=`https://ui-avatars.com/api/?name=${name}`;
            });
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {{!-- <script  type = "text/javascript" src="mcq.js"></script> --}}
    </body>
</html>