<link rel="stylesheet" href="../public/css/addWords.css">
<div class="main-box1">
        <header class="dashboard-content">
            <h1 class="word-heading">ADD WORDS</h1>
        </header>
        {{#if success}}
        <div class="success">
            <p>Successfully added the word</p>
        </div>
        {{/if}}
        <form action="/words/addWord" method="post" class="add-word-form">
                    <label for="word">
                        <div class="word-field">
                            <h5>Enter Word &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp &nbsp &nbsp &nbsp </h5>
                            <input id="word" type="text" name="word" required> 
                        </div>
                    </label>
                    <label for="meaning">
                        <div class="meaning-field">
                        <h5>Enter Meaning &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                        <textarea id="meaning" cols="30" rows="10" name="meaning" required></textarea> 
                        </div>
                    </label>
                    <label for="synonym">
                        <div class="synonym-field">
                            <h5>Enter Synonyms &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                            <input id="synonym" type="text" name="synonym" required>
                        </div>
                    </label>
                    <label for="antonym">
                        <div class="antonym-field">
                            <h5>Enter Antonyms &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                            <input id="antonym" type="text" name="antonym"> 
                        </div>
                    </label>
                    <label for="example">
                        <div class="example-field">
                        <h5>Enter Examples &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                        <textarea id="example" cols="30" rows="10" name="example"></textarea>
                        </div>
                    </label> 
                    <div class="submit-field">
                        <button type="submit" id="submit-btn" class="btn btn-outline-dark">submit</button>
                    </div>
        </form>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
    