<link rel="stylesheet" href="../public/css/addWords.css">
<div class="main-box1">
        <header class="dashboard-content">
            <h1 class="word-heading">ADD WORDS</h1>
        </header>
        {{#if success}}
        <div class="success">
            <p>Successfully added the word</p>
        </div>
        {{/if}}
        <form action="/words/addWord" method="post" id="add-word-form">
                    <label for="word">
                        <div class="word-field">
                            <h5>Enter Word &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp &nbsp &nbsp &nbsp </h5>
                            <input id="word" type="text" name="word" required> 
                        </div>
                        <p id="word_err"></p>
                    </label>
                    <label for="meaning">
                        <div class="meaning-field">
                        <h5>Enter Meaning &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                        <textarea id="meaning" cols="30" rows="3" name="meaning" required></textarea>
                        </div>
                        <p id="meaning_err"></p> 
                    </label>
                    <label for="synonym">
                        <div class="synonym-field">
                            <h5>Enter Synonyms &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                            <input id="synonym" type="text" name="synonym" required>
                        </div>
                        <p id="synonym_err"></p>
                    </label>
                    <label for="antonym">
                        <div class="antonym-field">
                            <h5>Enter Antonyms &nbsp &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                            <input id="antonym" type="text" name="antonym"> 
                        </div>
                        <p id="antonym_err"></p>
                    </label>
                    <label for="example">
                        <div class="example-field">
                        <h5>Enter Examples &nbsp &nbsp &nbsp &nbsp &nbsp : &nbsp &nbsp &nbsp &nbsp &nbsp</h5>
                        <textarea id="example" cols="30" rows="3" name="example"></textarea>
                        </div>
                        <p id="example_err"></p>
                    </label> 
                    <div class="submit-field">
                        <button type="submit" id="submit-btn" class="btn btn-outline-dark">submit</button>
                    </div>
        </form>
</div>
<script type = "text/javascript">
    window.addEventListener('load', (event) => {
       document.getElementsByClassName("sidebar-add-word")[0].style.backgroundColor="rgb(53, 51, 51)";
    });

    {{!-- let form=document.getElementById('add-word-form');
    if (form) {
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                console.log("entering..");
                let validateWord=true;
                let validateMeaning=true;
                let validateSynonym=true;
                let validateAntonym=true;
                let validateExample=true;
                let word=document.getElementById('word');
                let word_err=document.getElementById('word_err');
                let meaning=document.getElementById('meaning');
                let meaning_err=document.getElementById('meaning_err');
                let synonym=document.getElementById('synonym');
                let synonym_err=document.getElementById('synonym_err');
                let antonym=document.getElementById('antonym');
                let antonym_err=document.getElementById('antonym_err');
                let example=document.getElementById('example');
                let example_err=document.getElementById('example_err');
                if(word.innerText.length===0){
                    word_err.style.display="grid";
                    word_err.innerText="Please Enter a valid word";
                    validateWord=false;
                }
                if(word.innerText.match(/\s+/)){
                    word_err.style.display="grid";
                    word_err.innerText="Word consists of spaces. Please Enter a valid word";
                    validateWord=false;
                }
                let i=0;
                while(i<word.innerText.length){
                    let code = word.innerText.charCodeAt(i);
                    if (!(code > 64 && code < 91) &&
                        !(code > 96 && code < 123)) {
                            word_err.style.display="grid";
                            word_err.innerText=`input word ${word.innerText} must be full of alphabets!`;
                            validateWord=false;
                    }else{
                        i++;
                    }
                }

                if(meaning.innerText.length===0){
                    meaning_err.style.display="grid";
                    meaning_err.innerText="Please Enter a valid meaning";
                    validateMeaning=false;
                }
                if(meaning.innerText.match(/\s+/)){
                    meaning_err.style.display="grid";
                    meaning_err.innerText="Meaning consists of spaces. Please Enter a valid Meaning";
                    validateMeaning=false;
                }
                i=0;
                while(i<meaning.innerText.length){
                    let code = meaning.innerText.charCodeAt(i);
                    if (!(code > 64 && code < 91) &&
                        !(code > 96 && code < 123)) {
                            meaning_err.style.display="grid";
                            meaning_err.innerText=`input meaning ${meaning.innerText} must be full of alphabets!`;
                            validateMeaning=false;
                    }else{
                        i++;
                    }
                }

                if(synonym.innerText.length===0){
                    synonym_err.style.display="grid";
                    synonym_err.innerText="Please Enter a valid synonym";
                    validateSynonym=false;
                }
                if(synonym.innerText.match(/\s+/)){
                    synonym_err.style.display="grid";
                    synonym_err.innerText="Synonym consists of spaces. Please Enter a valid synonym";
                    validateSynonym=false;
                }
                i=0;
                while(i<synonym.innerText.length){
                    let code = synonym.innerText.charCodeAt(i);
                    if (!(code > 64 && code < 91) &&
                        !(code > 96 && code < 123)) {
                            synonym_err.style.display="grid";
                            synonym_err.innerText=`input word ${synonym.innerText} must be full of alphabets!`;
                            validateSynonym=false;
                    }else{
                        i++;
                    }
                }

                if(antonym.innerText.length===0){
                    antonym_err.style.display="grid";
                    antonym_err.innerText="Please Enter a valid antonym";
                    validateAntonym=false;
                }
                if(antonym.innerText.match(/\s+/)){
                    antonym_err.style.display="grid";
                    antonym_err.innerText="Antonym consists of spaces. Please Enter a valid antonym";
                    validateAntonym=false;
                }
                i=0;
                while(i<antonym.innerText.length){
                    let code = antonym.innerText.charCodeAt(i);
                    if (!(code > 64 && code < 91) &&
                        !(code > 96 && code < 123)) {
                            antonym_err.style.display="grid";
                            antonym_err.innerText=`input antonym ${antonym.innerText} must be full of alphabets!`;
                            validateAntonym=false;
                    }else{
                        i++;
                    }
                }

                if(example.innerText.length===0){
                    example_err.style.display="grid";
                    example_err.innerText="Please Enter a valid example";
                    validateExample=false;
                }
                if(example.innerText.match(/\s+/)){
                    example_err.style.display="grid";
                    example_err.innerText="Example consists of spaces. Please Enter a valid example";
                    validateExample=false;
                }
                i=0;
                while(i<example.innerText.length){
                    let code = example.innerText.charCodeAt(i);
                    if (!(code > 64 && code < 91) &&
                        !(code > 96 && code < 123)) {
                            example_err.style.display="grid";
                            example_err.innerText=`input example ${example.innerText} must be full of alphabets!`;
                            validateExample=false;
                    }else{
                        i++;
                    }
                }
                if(validateWord&&validateMeaning&&validateSynonym&&validateAntonym&&validateExample){
                    form.submit();
                }
        });
    } --}}
    
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
    