<div id="errorDiv">
    <h1 class="errorPara">{{code}}: {{description}}</h1>
    <div>
        
    </div>
    <a href="/">
        <p class="redirectLink">Take me back to the home page</p>
    </a>
</div>