.navbar{
    background-color:#ffffff;
    height: 50px;
    width: 92%;
    position: absolute;
    top:0px;
}

.dashboard{
    position: absolute;
    top:20px;
    left:400px;
}
.dashboard-content{
    display: flex;
    justify-content: center;
    
}
.add-word-form{
    position: absolute;
    top:120px;
    right:100px;
}

.word-field{
    display: flex;
    width:500px;
}

.meaning-field{
    display: flex;
}

.synonym-field{
    display: flex;
}

.antonym-field{
    display: flex;
}

.example-field{
    display: flex;
}

.submit-field{
    display: flex;
    position: relative;
    left:350px;
    top:30px;
}

