body{
    margin:0;
}
.sidebar{
    background:#23282D;
    width:150px;
    height:1000px;
    display: grid;
    grid-template-rows:15% 15% 15% 15% ;
}

a{
    text-decoration: none;
}
.sidebar-dashboard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.sidebar-dashboard-text{
    color: white;
}

.fa-user{
    color: white;
}

.fa-file-word{
    color: white;
}

.sidebar-dashboard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-dashboard:hover {
    transform: scale(1);
  }

.sidebar-word{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-word:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-word:hover {
    transform: scale(1);
}

.sidebar-flashcard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-flashcard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-flashcard:hover {
    transform: scale(1);
}

.sidebar-mcq{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-mcq:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-mcq:hover {
    transform: scale(1);
}

.navbar{
    background-color:#ffffff;
    height: 50px;
    width: 100%;
    position: absolute;
    top:0px;
}

.dashboard{
    position: absolute;
    top:20px;
    left:700px;
}
.dashboard-content{
    display: flex;
    justify-content: center;
    
}
.add-word-form{
    position: absolute;
    top:120px;
    right:100px;
}

.word-field{
    display: flex;
    width:500px;
}

.meaning-field{
    display: flex;
}

.synonym-field{
    display: flex;
}

.antonym-field{
    display: flex;
}

.example-field{
    display: flex;
}

.submit-field{
    display: flex;
    position: relative;
    left:350px;
    top:30px;
}

