
#startFlashcardTest{
    display: grid;
    justify-items: center;
    margin: auto;
}

#flashcard-btn{
    width: 100px;
    height: 60px;
}

#flashcard-content{
    display: none;
    height: 100%;
    width: 90%;
    margin: auto;
}

#card1{
    height:500px; 
    position: relative; 
    left: 120px;
    top: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#card2{
    display: none;
    height:500px; 
    position: relative; 
    left: 120px;
    top: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.flashcard-options{
    display:flex; 
    justify-content: space-between;
    padding:200px;
}

.flashcard-options1{
    display:flex; 
    justify-content: center;
    padding:200px;
    position: relative;
    bottom:100px;
}
