body{
    margin:0;
}
.sidebar{
    background:#23282D;
    width:150px;
    height:1000px;
    display: grid;
    grid-template-rows:15% 15% 15% 15% 15%;
}

a{
    text-decoration: none;
}
.sidebar-dashboard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.sidebar-dashboard-text{
    color: white;
}

.fa-user{
    color: white;
}

.fa-file-word{
    color: white;
}

.sidebar-dashboard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-dashboard:hover {
    transform: scale(1);
  }

.sidebar-word{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-word:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-word:hover {
    transform: scale(1);
}

.sidebar-flashcard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-flashcard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-flashcard:hover {
    transform: scale(1);
}

.sidebar-mcq{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-mcq:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-mcq:hover {
    transform: scale(1);
}

.navbar{
    background-color:#ffffff;
    height: 50px;
    width: 100%;
    position: absolute;
    top:0px;
}

.dashboard-content{
    background-color:#f5f5f5;
    height: 100%;
    width: 100%;
    position: absolute;
    top:50px;
}

.dashboard{
    width: 800px;
}

.dashboard-content{
    display: flex;
    justify-content: center;
    
}

.navbar{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.main-box{
    margin-top: 50px;
}

.row1{
    height: 200px;
    position: relative;
    left:100px;
}

.sub-box{
    margin: 0 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.row2{
    display: flex;
    height: 200px;
    position: relative;
    left:100px;
    top:100px;
}