body{
    margin:0;
    height:1000px;
}
.sidebar{
    background:#23282D;
    width:150px;
    height:1000px;
    display: grid;
    grid-template-rows:15% 15% 15% 15% 15%;
}

a{
    text-decoration: none;
}
.sidebar-dashboard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.sidebar-dashboard-text{
    color: white;
}

.fa-user{
    color: white;
}

.fa-file-word{
    color: white;
}

.sidebar-dashboard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-dashboard:hover {
    transform: scale(1);
  }

.sidebar-word{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-word:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-word:hover {
    transform: scale(1);
}

.sidebar-flashcard{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-flashcard:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-flashcard:hover {
    transform: scale(1);
}

.sidebar-mcq{
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}

.sidebar-mcq:hover{
    transition: transform .5s ease;
    background-color: rgb(53, 51, 51);
}

.sidebar-mcq:hover {
    transform: scale(1);
}

.navbar{
    background-color:#ffffff;
    height: 50px;
    width: 100%;
    position: absolute;
    top:0px;
    display: flex;
}

.dashboard-content{
    background-color:#f5f5f5;
    height: 100%;
    width: 100%;
    position: absolute;
    top:50px;
}

.dashboard{
    width: 800px;
}

.dashboard-content{
    display: flex;
    justify-content: center;
    
}

.navbar{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.main-box{
    margin-top: 50px;
}

.row1{
    height: 200px;
    position: relative;
    left:100px;
}

.sub-box{
    margin: 0 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.row2{
    display: flex;
    height: 200px;
    position: relative;
    left:100px;
    top:350px;
}

body {
    font-family: "Roboto", sans-serif;
    background:#d2eaf1;
}
  
.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill1,
.circle-wrap .circle .fill2,
.circle-wrap .circle .fill3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill1,.mask .fill2,.mask .fill3{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

/* :root{
    --startdegree1: ;
    --enddegree1: ;
    --animation1: fill ease-in-out 3s;
} */

/* .mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: var(--enddegree1);
}
  
@keyframes fill{
   0% {
      transform: var(--startdegree1);
    }
    100% {
      transform: var(--enddegree1);
    }
} */

.circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.chart-box{
    display: flex;
    justify-content: center;
}

.chart-box1{
    position: relative;
    left:0px;
    bottom:0px;
    display: flex;
    justify-content: center;
}

.report_heading{
    text-align: center;
    position: relative;
    top:100px;
}

.report_ending{
    text-align: center;
    position: relative;
    bottom:100px;
}

.right_navbar{
    margin-left: 1400px;
    font-size: large;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}


#right_profile{
    position: relative;
    bottom:5px;
    left:10px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    

}

#img_profile{
    border-radius: 50%;
    border:1px solid white;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

#img_profile:hover{
    background-color: rgb(53, 51, 51);
    transition: transform .5s ease;
    transform: scale(1);
}

.dropdown {
    position: relative;
    display: inline-block;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    right:0px;
    background-color: #23282D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: White;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
