<div class="logout">
    <p>You have been successfully Loggout</p><br>
    <a href="/">Take me to home page</a>
    <a href="/login">Login Again</a>
</div>
{{!-- <script src="/public/js/logout.js"></script> --}}
